<html lang="en" dir="ltr">
<head>

<title>Example powerful flask</title>
<meta charset="iso-8859-1">
{% block scripts %}
{% endblock %}

<!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->


<script src="static/lodash.core.js" charset="utf-8"></script>
<script src="static/datagenerator.js" charset="utf-8"></script>
<script src="static/bubblechart2.js" charset="utf-8"></script>

</head>
<link rel="script" type="text/javascript" href= "{{ url_for('static', filename='lodash.core.js') }}" >


<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" >
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='layout.css') }}" >

<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styler.css') }}" >


<body>
<header id="header">
        <div class="BigSpacer"></div>
        <div class="vertical">
          <nav >
            <ul>
              <li><a href="{{ url_for('bubbleChart') }}">Bubble</a></li>
              <li><a href="{{ url_for('network') }}">Network</a></li>
              <li><a href="{{ url_for('bubbleChart2') }}">Bubble2</a></li>
            </ul>
          </nav>
        </div>
</header>



<header id="footer">
  <p> 
    {% block heading %}
        Heading?
    {% endblock %}
 </p>
</header>

<div id ="container">


<div id ="content"></div>

{% block content %}
{% endblock %}
</div>

<footer id="footer">
  <p> Footer? </p>
</footer>
</body>
