
{% extends "base.html" %}

{% block scripts %}
<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <style>
      /*rect.bordered {
        stroke: #E6E6E6;
        stroke-width:4px;
      }*/

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #555;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }
    </style>
{% endblock %}

{% block heading %}
<div align="center">
<form action = "http://localhost:5000/uploader" method = "POST" 
    enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
</form>
</div>
{% endblock %}

{% block content %}
<script>
    function generateChar(char, count) {
        s = "";
        for (var i = 0; i < count; i++)
            s = s.concat(char);
        return s;
    }

    function get_data(subdict, key, level) {
        if (level == undefined)
            level = 0;

        //console.log("subdict, path, length");
        //console.log(subdict);

        var root = subdict['path'];
        //console.log(root);

        var len = root.length -1;
        //console.log(len);

        if (root[len] == key) {
            return subdict;
        } else {
            var children = subdict['children'];
            for (var child in children) {
                var childdict = children[child];
                //console.log("child: " + child + " with dict:");
                //console.log(childdict);

                var solution = get_data(children[child], key, level+1);
                if (solution != undefined)
                    return solution;
            }
        }
    }

    function get_arrays_for_entry(dict, entry, index) {
        subtree = get_data(dict[Object.keys(dataset)[0]], entry);
        var categories = [];
        var alice = [];
        var bob = [];

        for (var child in subtree['children']) {
            var child_dict = subtree['children'][child];
            var label = child_dict['path'][child_dict['path'].length-1];
            var alice_value = child_dict['read_count'][index];
            var bob_value = child_dict['read_count'][6 + index];

            categories.push(label);
            alice.push(alice_value);
            bob.push(bob_value);
        }
        //console.log(categories);
        //console.log(alice);
        //console.log(bob);

        return [categories, alice, bob];
    }

	// creating svg element
	var dataset = {{ data | safe }};

	//var subtree = get_data(dataset[Object.keys(dataset)[0]], 'o__Bifidobacteriales');

	//var array = get_arrays_for_entry(dataset, 'root', 0);

	//console.log("array:");
	//console.log(array);

    //console.log("subtree");
    //console.log(subtree);

	var width = 800;
	var height = 500;


	bubbleChart = Heatmap("#content", dataset, width, height);
	bubbleChart.init();
	bubbleChart.doOnMouseOver();
	bubbleChart.doWhenClicked();

	//bubbleChart.update('o__Bifidobacteriales');
</script>
{% endblock %}
