
{% extends "base.html" %}

{% block scripts %}
<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
{% endblock %}

{% block heading %}
<div align="center">
<form action = "http://localhost:5000/uploader" method = "POST" 
    enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
</form>
</div>
{% endblock %}

{% block content %}
<script>
	// creating svg element
	var dataset = {{ data | safe }};

	console.log(dataset);

	var datapoints = 30;
	var xData = generateRandomArray(5,50,datapoints);
	var yData = generateRandomArray(25, 40, datapoints);
	var zData = generateRandomArray(10,20, datapoints);

	console.log(xData);
	console.log(yData);
	console.log(zData);

	var categories = ['E','E','E','E','E','A','A','A','A','A','F','F','F','B','B','B','B','B','B','B','C','C','C','C','C','D','D','D','D','D']
	

	var xLabel = "xLabel";
	var yLabel = "yLabel";
	var zLabel = "zLabel";
	var catLabel = "kittycatLabel";

	var width = 800;
	var height = 500;



	if (dataset != null) {
		var keys = Object.keys(dataset);
		if (keys.length >= 4) {
			xLabel = keys[0];
			xData = dataset[xLabel];

			yLabel = keys[3];
			yData = dataset[yLabel];
			
			zLabel = keys[2];
			zData = dataset[zLabel];
	
			catLabel = keys[1];
			categories = dataset[catLabel];

			console.log(xData);
			console.log(categories);
		}
	}

	bubbleChart = bubbleChart("#content", xData, yData, zData, categories, width, height, xlabel=xLabel, ylabel=yLabel, zlabel=zLabel, catlabel=catLabel);
	bubbleChart.init();
	bubbleChart.doOnMouseOver();
	//bubbleChart.update();
	bubbleChart.doWhenClicked();
</script>
{% endblock %}
