
div.tooltip {
	border: 1px solid black;
	border-radius: 5px;
	background: white;
	position: absolute;
	z-index: 10;
	visibility: hidden;
	padding: 5px 5px 5px 5px;
	opacity: 0.8;
}

#content
{
	/*width: 1000px;*/
	word-wrap: break-word;
	color: white;
	text-align: left;
	white-space: pre-wrap;
}

div.centered
{
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: white;
}

div.centered table 
{
	margin: auto;
	background-color: black;
	color: white;
}

table.blackback {
	color: white;
}

td.col_title {
	width: 150pt;
}

td.datatype {
	width: 80pt;
}

td.min_value {
	width: 100pt;
}

td.max_value {
	width: 100pt;
}

td.average {
	width: 150pt;
}

td.std_dev {
	width: 150pt;
}

p {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}


